---
layout: default
section_id: home
slides:
  - bg: images/@stock/slide-quarterback.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: ビジネスの変化に適応できているか？
    title:
      klass: bottom-to-top
      text: 俊敏に柔軟にビジネス価値を生み出すためには
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: もっと詳しく
          link_to: /pages/agile
 
works:
  - image: images/@stock/work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development

services:
  - icon: trophy
    title: 変化に適応し成功に導くアジャイル・スクラムトレーニング・コンサルティング
    desc: 世界的にITサービス・製品開発の標準になっているアジャイル・スクラム。15年以上の豊富なアジャイル開発の経験を生かしたトレーニング・コーチングを提供します。
  - icon: stethoscope
    title: IT活用健康診断
    desc: 現代はITをまったく活用しないのはビジネスの機会損失ですが、何も考えずにITを使うのはムダです。ガリガリでもメタボでもない健康的なIT活用のため、最小限のコストで最大限の価値を得るための本当に必要なIT活用について健康診断を行います。
  - icon: pagelines
    title: 組織の共有ビジョンづくり
    desc: 組織が機能するためには、人々が心を突き動かされる共有ビジョンが不可欠です。パタン・ランゲージを用いてあなたの組織のビジョンづくり、その実施を強力にサポートします。

milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---

{% include slider.html %}
<div class="three spacing"></div>
{% include features.html %}
<div class="spacing"></div>
<!-- {% include work.html %} -->
{% include services-top.html %}
<!-- {% include parallax.html %} -->
{% include team.html %}
<!-- {% include recent-posts.html %} -->
<!-- {% include our-customers.html %} -->

