---
layout: default
title: サービス
section_id: services
services_left:
  - icon: stethoscope
    title: IT活用健康診断
    desc: 現代はITをまったく活用しないのはビジネスの機会損失ですが、何も考えずにITを使うのはムダです。ガリガリでもメタボでもない健康的なIT活用のため、最小限のコストで最大限の価値を得るための本当に必要なIT活用について健康診断を行います。
  - icon: cogs
    title: IT投資ムダドリ・価値創造コンサルティング
    desc: 御社のITサービスが最小投資、最大価値を生み出すように、様々な手法を使ってコンサルティングします。ムダなIT投資はさせません。ビジネスを飛躍的に高めるIT投資を実現させます。
  - icon: sticky-note
    title: 世界最先端のアナログツール活用コンサルティング
    desc: 世界最先端のIT企業が最もよく使うツール、それが付箋、ホワイトボードといったアナログツールです。ローコストで飛躍的効果を実現するこれらツールを使わない手はありません！これらを余すところなく利用するサービスをご提供いたします。
  - icon: thumbs-o-up
    title: 社外CTO(Chief Technical Officer)/CAO(Chief Agile Officer)
    desc: 社内に信頼できるCTOがいない、企業をアジャイルに変革したいができる人材がいない、そんな時には社外CTO、CAOとして継続的に御社のビジネス革新を助けます。
services_right:
  - icon: trophy
    title: アジャイル・スクラム トレーニング＆コーチング＆コンサルティング
    desc: 世界中で広く使われているアジャイル・スクラムのトレーニング、現場への導入、組織への展開を強力にご支援いたします。15年に渡る実践に裏付けられたハイクオリティサービスをご提供致します。
  - icon: group
    title: チームファシリテーション・プロジェクトファシリテーション
    desc: 「仕事の見える化」「週のリズムづくり」でチームは飛躍的に変わります。チーム力を高める仕掛け作りをご提供します。
  - icon: pagelines
    title: 共有ビジョンづくり
    desc: 組織が機能するためには、人々が心を突き動かされる共有ビジョンが不可欠です。パタン・ランゲージを用いてあなたの組織のビジョンづくり、その実施を強力にサポートします。
  - icon: heart-o
    title: 生きがいを探すワークショップ
    desc: あなたは今の仕事に満足していますか？本当にやりたいことは何ですか？この先どのように生きていきますか？ひとりひとりが人生の中で、生きがい・至福の時を見つけるためのワークショップをご提供します。
---

<div class='full parallax' style='background-image: url(images/@stock/service-page-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="サービス紹介" tagline="最小投資、最大効果を実現するためには？" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
          <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
            <div class='icon-text-simple'>
              <i class='fa fa-{{service.icon}}'></i>
              <h3>{{service.title}}</h3>
              <p>{{service.desc}}</p>
            </div>
            <div class='two spacing'></div>
          </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>