<div class="row">
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title='全・善・然・禅' desc='部分ではなく全体を、善いことだけを、ありのままの自然体で、禅のようにシンプルに。' icon_class='fa fa-star-o' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title='想・創・奏・走' desc='まだ見ぬ未来を想い、新しい未来を創り、様々な人たちとの協奏で、前に走り続けます。' icon_class='fa fa-smile-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title='地方から未来を' desc='愛媛県松山市から未来を創ります。日本の地方都市は世界でもトップクラスの課題先進地域。ワクワクする未来は問題あるところから始まります。' icon_class='fa fa-send-o' delay='400' shape_class='icon-text-circle' %}
  </div>
</div>
