<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="活動実績" %}
      <div class="spacing"></div>
      <p>公開資料、研修テキスト、公開可能なプロジェクト、その他実績をご紹介します。</p>
      <p>詳しくは<a href="/portfolios">こちら</a>まで。</p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for portfolio in site.portfolios %}
        <li class="{{ portfolio.klass }}">
          <a href='{{ portfolio.url }}'>
            <img alt="" src="{{ portfolio.image[0] }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ portfolio.title }}</h3>
                <p>{{ portfolio.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>